.icon-header{
	font-size: 20px !important;
}

.text-center{
	text-align: center;
}
.has-icon .form-control{
	padding-left: 34px;
}
.has-icon{
	position: relative;
}
.icon-left{
	color: gray;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}
.product-content{
	float: left;
}
.product-content > label{
	display: block;		
}

label > h6{
	margin-top: 20px;
}

.pull-right > .btn.btn-primary{
	    display: block;
	    margin-top: 7%;
	    margin-left: 5%;
}

.pull-right > .num{
	margin-left: 40%;
}